* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.sora-text{
  font-family: "Sora", sans-serif;
  font-optical-sizing: auto;
  /*font-weight: <weight>;*/
  font-style: normal;
}

body {
    height: 100vh;
}
.author-info {
    font-size: 14px;
    text-align: center;
    margin-top: 16px;
    color: rgb(55, 65, 81);
}

.author-info a {
    text-decoration: none;
}
.gen-card{
    margin: 25px 550px 25px 550px;
    box-shadow: 8px 8px 20px 0px rgba(85, 85, 85, 0.08);
    border-radius: 10px;
    padding-top: 10px;
}
.img-cact{
    display: grid;
    place-items: center; /*Centrar imagen*/
}
img{
    border-radius: 18px;
    padding: 15px 0 15px 0;
}
.etiqueta{
    display: inline-flex;
    background-color: #F2EAFD;
    font-size: 10px;
    border-radius: 30px;
    padding: 6px 10px;
    margin-bottom: 10px;
    margin-left: 50px;
}
.describ h1{
    margin-bottom: 10px;
    color: black;
}
.describ{
    font-size: 12px;
    margin-left: 50px;
    color: rgb(62, 68, 75);
    padding-bottom: 15px;
}
hr{
    color: #E5EAF0;
}
.fin-aut{
    color: rgb(62, 68, 75);
    font-size: 12px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-left: 50px;
}
@media screen and (max-width: 640px){
        .gen-card{
            margin: 100px 150px 100px 110px;
            box-shadow: 8px 8px 20px 0px rgba(85, 85, 85, 0.08);
            border-radius: 10px;
            padding-top: 10px;
        }
        .etiqueta{
            margin-left: 25px;
        }
        .describ{
            margin-left: 25px;
        }
}
@media screen and (min-width:641) and (max-width: 1024px){
            .gen-card{
            margin: 10px 315px 10px 315px;
            box-shadow: 8px 8px 20px 0px rgba(85, 85, 85, 0.08);
            border-radius: 10px;
            padding-top: 10px;
        }
        .etiqueta{
            margin-left: 28px;
        }
        .describ{
            margin-left: 28px;
        }
    
}
